@import url('https://fonts.googleapis.com/css?family=Lato');

.markdown-input-container {
  display: flex;
  justify-content: space-evenly;
}

.markdown-input {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

.markdown-output {
  font-family: 'Lato', sans-serif;
}
